.logo {
    height: 75px;
    width: 75px;
    background-color: lightgrey;
    border-radius: 50%;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.m1f0fj2FsfmPgY9qSYyCJwHaHa?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}